<h1>{{fullName}}</h1>

<div>
  <q>{{email}}</q>
</div>

{{#linkTo 'members.edit' content class='btn btn-primary'}}Edit{{/linkTo}}

<div class='page-header'></div>

{{#linkTo 'members' class='btn'}}Back{{/linkTo}}